html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* global */
h1, h2, h3, p {
    color: white;
    font-family: "Poppins", sans-serif;
}
h1 {
    font-size: 60px;
    font-weight: bold;
    line-height: 78px;
    letter-spacing: 1.5px;
    /* width: 900px; */
}
h2 {
    font-size: 25px;
    font-weight: bold;
    line-height: 32.5px;
    padding-bottom: 20px;
}
h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
    letter-spacing: 1.5px;
}
p {
    font-size: 17px;
    font-weight: normal;
    line-height: 25.5px;
    padding-bottom: 50px;
}
.container ul li:hover a {
    color: rgba(177, 107, 38, 1);
}
button a {
    text-decoration: none;
    color: black;
}
button:hover {
    background: black;
    border: 2px solid white;
}
button:hover a {
    color: white;
}
.info, .info ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.info h3 {
    font-size: 18;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
.info li {
    list-style: none;
    color: white;
}
/* hide humburger icon */
.menu-icon {
    display: none;
}
/* header */
.header {
    position: fixed;
    width: 100%;
    z-index: 1;
}
.header .container{
    display: flex;
    background: black;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.container ul {
    display: flex;
    list-style: none;
    gap: 50px;
}
.header-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
nav ul {
    font-size: 17px;
    font-weight: normal;
    line-height: 25.5px;
}
.container ul li a, .contact a, .info ul li a {
    text-transform: capitalize;
    text-decoration: none;
    color: white;
}
button {
    padding: 15px 30px;
    background: rgba(177, 107, 38, 1);
    border-radius: 15px;
    border: 2px solid transparent;
}
/* banner */
#banner {
    background-image: url('./images/banner.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* service */
#service {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.service-container {
    display: flex;
    margin: -100px 0 0;
}
.service-container .card {
    background: black;
    padding: 100px 50px;
    text-align: left;
    width: 730px;
}
.card button a::after{
    content: '\2192';
    padding-left: 10px;
    color: white;
}
.service-container .card:nth-child(2) {
    background: #FADE8B;
}
.card:nth-child(2) h2,.card:nth-child(2) p, .contact-testimonial p, .contact-footer h2 {
    color: black;
}
.card:nth-child(2) button {
    background: black;
}
.card:nth-child(2) button a {
    color: white;
}
/* portfolio */
#portfolio, #shop {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 50px;
    gap: 120px;
    padding: 0 190px;
}
.portfolio-container, .shop-container {
    padding-top: 100px;
    width: 650px;
}
.portfolio-container h1, .shop-container h1, .shop_2 h1 {
    font-size: 45px;
    line-height: 58.5px;
    color: black;
    padding-bottom: 20px;
}
.portfolio-container h2, .news-container h2, .shop-container h2, .shop_2 h2 {
    color: #FADE8B;
}
.portfolio-container p, .shop-container p, .date-time p {
    color: gray;
}
.portfolio-container ul {
    list-style: url('./images/Vector.png');
    color: gray;
}
/* news */
#news {
    padding: 50px 100px;
    background: #fff8f1;
}
.news-container {
    padding-left: 100px;
}
.news-container h1 {
    font-size: 45px;
    line-height: 58.5px;
    color: black;
    padding-bottom: 20px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 50px 350px;
    align-content: center;
    justify-content: space-between;
}
.card-container .card {
    background: white;
    padding: 50px 100px;
    cursor: pointer;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.card-container .card:hover{
    background: #FADE8B;
}
.card-container .card:hover img {
    -webkit-filter: invert(1);
  filter: invert(1);
}
.card-container .card h2, .card-container .card p, .article-card p, .article-card h2 {
    color: black;
}
/* .artcile-section */
.artcile-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.artcile-section .article {
    display: flex;
    flex-wrap: wrap;
}
.artcile-section .article img:hover {
    transform: scale(1.1);
    transition: all 1.3s;
    cursor: pointer;
}
/* shop */
.shop-image {
    position: relative;
    padding: 100px 160px;
}
.shop-image img:nth-child(1)  {
    position: absolute;
    margin-left: 200px;
    z-index: 1;
}
.shop-image img:nth-child(2) {
    position: relative;
    z-index: 2;
    margin-top: 100px;
}
.shop-image img:nth-child(3) {
    position: absolute;
    z-index: 300;
    top: 500px;
    right: -50px;
}
.article-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}
.date-time {
    display: flex;
    gap: 50px;
}
/* contact */
#contact {
    background-image: url('./images/Article\ →\ Section\ \(5\).png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    text-align: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact-testimonial {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.contact-testimonial .card {
    background: white;
    padding: 50px;
    border: 2px solid white;
}
.contact-testimonial p {
    padding-top: 20px;
}
.card-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card-icon p {
    padding-bottom: 0;
}
.card:nth-child(2) .card-icon img {
    border-radius: 50px;
}
.contact-footer {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 100px 0;
}
.contact-footer input[type=text] {
    padding: 10px;
    border-radius: 15px;
    background: white;
    border: 2px solid transparent;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    width: 500px;
    position: relative;
}
.contact-footer input[type=checkbox] label {
    position: absolute;
}
.contact-footer button {
    color: white;
    background: yellow;
    padding: 10px;
    position: absolute;
    margin-left: 1020px;
    margin-top: -7px;
}
/* footer */
#footer {
    background: black;
    padding: 50px 0;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social-icons ul {
    display: flex;
    flex-direction: row;
    filter: invert(1);
    gap: 10px;
}
.divider {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.divider ul {
    display: flex;
    gap: 50px;
}
.divider ul li {
    color: white;
    list-style: none;
}
/* css for humueger icon */
/* -- Creating Hidden Menu --*/
.navigation {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: black;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 75px;
    opacity: 65%;
  }
  
  .navigation a {
    padding: 25px 6px 6px 25px;
    text-decoration: none;
    font-size: 32px;
    color: white;
   
    display: block;
    transition: 2.5s;
  }
  
  .navigation a:hover {
    color: black;
  }
  
  .navigation .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* -- Creating Hamburger Icon --*/
  .bars {
    font-size: 30px;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    
    margin: 6px 0;
    transition: 0.5s;
    position: relative;
    z-index: 100;
  }
  
  
  /*-- Changing Hamburger Icon to an X --*/
  .open .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
    left: 200px;
    background-color: white;
    
    }
  .open .bar2 {
    opacity: 0;
    }
  .open .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
    left: 200px;
    background-color: white;
    }
  
  /*-- Show Menu --*/
  .open .navigation {
    left: 0;
  }

/* Responsive */
/* desktop */
@media (max-width: 2520px) {
    .article img {
        width: 820px;
    }
}
@media (max-width: 2460px) {
    .article img {
        width: 800px;
    }
}
@media (max-width: 2400px) {
    .article img {
        width: 750px;
    }
}
@media (max-width: 2340px) {
    .article img {
        width: 730px;
    }
}
@media (max-width: 2250px) {
    .service-container .card {
        width: 625px;
    }
}
@media (max-width: 2189px) {
    .article img {
        width: 700px;
    }
}
@media (max-width: 2109px) {
    .article img {
        width: 690px;
    }
}
@media (max-width: 2109px) {
    .article img {
        width: 680px;
    }
}
@media (max-width: 2050px) {
    .article img {
        width: 650px;
    }
}
@media (max-width: 1960px) {
    .article img {
        width: 620px;
    }
}
@media (max-width: 1920px) {
    .service-container .card {
        width: 570px;
    }
    #portfolio, #shop {
        padding: 0 100px;
    }
    .news-container {
        padding: 0;
    }
    .card-container {
        padding: 50px 0;
    }
    .article img {
        width: 630px;
    }
    .article-card .card {
        zoom: 80%;
    }
}
@media (max-width: 1960px) {
    .article img {
        width: 600px;
    }
}
@media (max-width: 1810px) {
    .article img {
        width: 580px;
    }
}
@media (max-width: 1780px) {
    .service-container .card {
        width: 530px;
    }
}
@media (max-width: 1750px) {
    .article img {
        width: 550px;
    }
}
@media (max-width: 1660px) {
    .article img {
        width: 500px;
    }
}
@media (max-width: 1645px) {
    .service-container .card {
        width: 482px;
    }
}

@media (max-width: 1555px) {
    .service-container .card {
        width: 450px;
    }
}
@media (max-width: 1545px) {
    #portfolio, #shop {
        gap: 80px;
    }
} 
@media (max-width: 1510px) {
    .article img {
        width: 480px;
    }
}
@media (max-width: 1504px) {
    #portfolio, #shop {
        gap: 50px;
    }
} 
@media (max-width: 1474px) {
    #portfolio, #shop {
        gap: 30px;
    }
} 
@media (max-width: 1450px) {
    .article img {
        width: 460px;
    }
}
@media (max-width: 1440px) {
    .service-container .card {
        width: 400px;
    }
    .service-container .card {
        padding: 100px 20px;
    }
    #portfolio, #shop {
        padding: 0 120px;
    }
    .portfolio-container, .shop-container {
        width: 500px;
    }
    #portfolio, #shop {
        gap: 80px;
    }
    .news-container {
        padding-left: 20px;
    }
    .card-container {
        justify-content: center;
    }
    .article img {
        width: 470px;
        height: 300px;
    }
    .shop-image {
        padding: 100px 60px;
    }
    .contact-testimonial {
        gap: 10px;
    }
}
@media (max-width: 1420px) {
    .article img {
        width: 440px;
    }
}
@media (max-width: 1349px) {
    #contact {
        height: 220vh;
    }
}
@media (max-width: 1330px) {
    .article img {
        width: 400px;
    }
}
@media (max-width: 1210px) {
    .service-container .card {
        width: 350px;
    }
    .article img {
        width: 380px;
    }
}
@media (max-width: 1150px) {
    .article img {
        width: 360px;
    }
}
@media (max-width: 1145px) {
    .contact-footer button {
        margin-left: 930px;
    }
}
@media (max-width: 1090px) {
    .article img {
        width: 340px;
    }
}
@media (max-width: 1080px) {
    .service-container .card {
        width: 300px;
    }
}
@media (max-width: 1030px) {
    .article img {
        width: 330px;
    }
}
/* tablet */
@media (max-width: 1024px) {
    .service-container .card {
        width: 300px;
    }
    #portfolio, #shop {
        padding: 0 50px;
        justify-content: flex-start;
    }
    .article img {
        width: 320px;
    }
    #contact {
        height: 140vh;
    }
    .contact-footer input[type=text] {
        width: 400px;
    }
    .contact-footer button {
        margin-left: 850px;
    }
}
@media (max-width: 970px) {
    .article img {
        width: 300px;
    }
}
@media (max-width: 965px) {
    .contact-footer button {
        margin-left: 740px;
    }
    .contact-footer input[type=text] {
        width: 320px;
    }
}
@media (max-width: 920px) {
    .service-container .card {
        width: 280px;
    }
}
@media (max-width: 970px) {
    .article img {
        width: 280px;
    }
}
@media (max-width: 900px) {
    .service-container .card {
        width: 250px;
    }
}
@media (max-width: 970px) {
    .article img {
        width: 270px;
    }
}
@media (max-width: 845px) {
    .contact-footer button {
        margin-left: 660px;
    }
    .contact-footer input[type=text] {
        width: 240px;
    }
}
@media (max-width: 820px) {
    .article img {
        width: 250px;
    }
}
@media (max-width: 768px) {
    .service-container .card {
        width: 658px;
    }
    .service-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 2px;
    }
    .portfolio-container {
        text-align: left;
    }
    .news-container {
        text-align: center;
    }
    .contact-footer input[type=text] {
        width: 180px;
    }
    .shop-container {
        text-align: left;
    }
    .shop-image {
        padding: 100px 0;
    }
    .shop-image img:nth-child(1) {
        margin-left: 120px;
    }
    .shop-image img:nth-child(3) {
        right: -120px;
    }
    .shop_2 .container {
        text-align: center;
        padding: 50px 0;
    }
    #contact {
        height: 180vh;
        flex-wrap: wrap;
    }
    .contact-container {
        text-align: center;
    }
    .contact-footer {
        flex-wrap: wrap;
    }
    .contact-footer button {
        margin-left: 630px;
        margin-top: -4px;
    }
    #footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
    }
    .footer-container {
        display: inline;
    }
}
@media (max-width: 760px) {
    .article img {
        width: 230px;
    }
}
@media (max-width: 735px) {
    .contact-footer button {
        margin-left: 510px;
    }
    .contact-footer input[type=text] {
        width: 130px;
    }
}
@media (max-width: 726px) {
    #contact {
        height: 230vh;
    }
}
@media (max-width: 700px) {
    .article img {
        width: 200px;
    }
}
@media (max-width: 726px) {
    .contact-testimonial {
        justify-content: center;
    }
}
@media (max-width: 680px) {
    .service-container .card {
        width: 580px;
    }
}
@media (max-width: 674px) {
    .service-container {
        margin-top: -50px;
    }
}
@media (max-width: 620px) {
    .contact-footer {
        gap: 40px;
    }
    .contact-footer button {
        margin-left: 460px;
    }
}
@media (max-width: 585px) {
    .service-container .card {
        width: 550px;
    }
}
@media (max-width: 640px) {
    .portfolio-image img {
        zoom: 80%;
    }
}
@media (max-width: 610px) {
    .article img {
        width: 180px;
    }
    .shop-image {
        zoom: 90%;
    }
    .article-card .card img {
        zoom: 70%;
    }
}
@media (max-width: 560px) {
    .service-container .card {
        width: 500px;
    }
    .shop-image {
        zoom: 70%;
    }
    .contact-footer button {
        margin-left: 220px;
        margin-top: 100px;
    }
}
@media (max-width: 550px) {
    .article img {
        width: 160px;
    }
    .header ul li, .header-contact li {
        display: none;
    }
}
@media (max-width: 500px) {
    .service-container .card {
        width: 450px;
    }
    /* show when mobile */
    .menu-icon {
        display: flex;
    }
}
@media (max-width: 441px) {
    .service-container {
        margin-top: 0;
    }
    .service-container .card {
        width: 420px;
    }
}
@media (max-width: 530px) {
    .portfolio-image img {
        zoom: 70%;
    }
}
@media (max-width: 470px) {
    .portfolio-image img, .shop-image {
        zoom: 60%;
    }
}
@media (max-width: 465px) {
    .contact-footer button {
        margin-top: 120px;
    }
}
/* mobile */
@media (max-width: 425px) {
    h1 {
        font-size: 40px;
    }
    .container ul {
        gap: 10px;
        flex-wrap: wrap;
        padding-top: 20px;
    }
    .service-container {
        margin: -50px 0;
    }
    .service-container .card {
        width: 405px;
    }    
    #news {
        padding: 50px 20px;
    }
    #portfolio, #shop {
        padding: 0 20px;
    }
    .portfolio-image img {
        zoom: 50%;
    }
    .portfolio-container {
        padding: 0;
    }
    .portfolio-container ul {
        list-style: none;
    }
    .article img {
        width: 340px;
    }
    .shop-image {
        zoom: 60%;
    }
    .shop_2 {
        zoom: 70%;
    }
    .contact-testimonial {
        zoom: 60%;
        justify-content: center;
    }
    .contact-footer input[type=text] {
        width: 180px;
    }
    .contact-footer button {
        margin-left: 300px;
        margin-top: 118px;
    }
}
@media (max-width: 410px) {
    .contact-footer button {
        margin-left: 280px;
    }
}
@media (max-width: 400px) {
    .service-container .card {
        width: 400px;
    }
}
@media (max-width: 375px) {
    .service-container .card {
        width: 365px;
    }
    #portfolio, #shop {
        padding: 0 20px;
    }
    .portfolio-image img {
        zoom: 50%;
    }
    .news-container {
        padding: 0;
        text-align: center;
    }
    .card-container .card {
        padding: 50px 80px;
    }
    .shop-image {
        zoom: 40%;
    }
    .article-card {
        justify-content: center;
    }
    .shop_2 {
        zoom: 60%;
    }
    #news {
        padding: 50px 0;
    }
    .contact-footer button {
        margin-left: 250px;
    }
    .contact-footer input[type=text] {
        width: 160px;
    }
    .form-placeholder::-webkit-input-placeholder {
        color: transparent;
    }
}
@media (max-width: 360px) {
    .service-container .card {
        width: 320px;
    }
}
@media (max-width: 320px) {
    .header-contact {
        gap: 10px;
    }
    h1, .portfolio-container h1, .shop-container h1, .shop_2 h1 {
        font-size: 30px;
    }
    .service-container .card {
        width: 310px;
    }
    .portfolio-image img {
        zoom: 52%;
    }
    #news {
        padding: 50px 20px;
    }    
    .card-container .card {
        padding: 50px 60px;
    }
    .article img {
        width: 300px;
    }
    .shop-image {
        zoom: 40%;
    }
    .shop_2 {
        zoom: 57%;
    }
    .contact-footer input[type=text] {
        width: 130px;
    }
    .contact-footer button {
        margin-left: 200px;
    }
}